@page
@model EducationalFundingCo.Pages.NoInviteModel
@{
    Layout = "_PublicLayout";
}

<div class="error-container">
    <h4 class="error-title">Error: Invitation Not Found</h4>
    <h1 class="error-code">Invitation</h1>
    <p class="error-description">
        Invitation was not found or has expired! <br />
        Please contact us at: <b>1-800-987-2390</b> or <b>email@coined.com</b>
    </p>
    @*<div class="text-center">
        <button class="btn btn-info btn-icon-text"><span class="material-icons">keyboard_backspace</span><span class="text">Go Back</span></button>
    </div>*@
</div>