@page
@model ConfirmEmailModel
@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Confirm email";
}

<h1>Thanks for confirming your email. <br />Log in below!</h1>

<a asp-page="./Login" class="btn btn-brand btn-gradient">Log in</a>